@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slick-initialized .slick-slide{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.slick-next:before, .slick-prev:before {
  display: none !important;
}